# Python
__pycache__/
*.py[cod]
venv/

# IDEs
.vscode/

# OS
.DS_Store

# Compreseed files
*.zip

# Output plotes
outputs/*.png

# Allow data files
!data/movies_metadata.csv
!data/movies_with_features.csv
