# Python
__pycache__/
*.py[cod]
venv/

# IDEs
.vscode/

# OS
.DS_Store

# Compressed files
*.zip

# Output plots
outputs/*.png

# Allow data files
data/*.csv
!data/movies_metadata.csv
!data/movies_with_features.csv
